<h1 align="center">Bookings</h1>
<br />
<div align="center" class="container">
    <table class="table table-hover table-striped table-sm table-bordered">
        <thead>
            <tr align="center">
                <th class="bg-info text-white">Booking ID</th>
                <th class="bg-info text-white">Services</th>
                <th class="bg-info text-white">Email-Id</th>
                <th class="bg-info text-white">Phone Number</th>
                <th class="bg-info text-white">location</th>
                <th class="bg-info text-white" colspan="2" align="center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of bookings" align="center">
                <td> {{book.bookingId}} </td>
                <td> {{book.services}} </td>
                <td> {{book.emailId }} </td>
                <td> {{book.phoneNumber}} </td>
                <td> {{book.location}} </td>
                <td> <button (click)="deleteBooking(book)" class="glyphicon glyphicon-trash"> </button> </td>
            </tr>
        </tbody>
    </table>
</div>
