<h1 align="center">Customers Data</h1>
<br />
<div align="center" class="container">
    <table class="table table-hover table-striped table-sm table-bordered">
        <thead>
            <tr align="center">
                <th class="bg-info text-white">Customer ID</th>
                <th class="bg-info text-white">First Name</th>
                <th class="bg-info text-white">Last Name</th>
                <th class="bg-info text-white">Gender</th>
                <th class="bg-info text-white">Email-Id</th>
                <th class="bg-info text-white">Phone Number</th>
                <th class="bg-info text-white">Address</th>
                <th class="bg-info text-white" colspan="2" align="center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cust of customers" align="center">
                <td> {{cust.customerId}} </td>
                <td> {{cust.firstName | gender:cust.gender | uppercase }} </td>
                <td> {{cust.lastName |uppercase }} </td>
                <td> {{cust.gender | lowercase }} </td>
                <td> {{cust.emailId }} </td>
                <td> {{cust.phoneNumber}} </td>
                <td> {{cust.address}} </td>
                <td> <button (click)="deleteCustomer(cust)" class="glyphicon glyphicon-trash"> </button> </td>
            </tr>
        </tbody>
    </table>
</div>
