<carousel>
  <slide>
    <img src="assets/Images/oldman.jpg" alt="Slide 1">
    <div class="carousel-caption">
      Experts in repair
    </div>
  </slide>
  <slide>
    <img src="assets/Images/repairmen.jpg" alt="Slide 2">
    <div class="carousel-caption">
      Service at any place
    </div>
  </slide>
  <!-- Add more slides as needed -->
</carousel>