.carousel-container {
    width: 50%; /* Set the width to cover half of the webpage */
    margin: 0 auto; /* Center the carousel horizontally */
  }
  
  .carousel {
    width: 100%; /* Ensure the carousel fills its container */
  }
  
  .carousel-inner {
    width: 100%; 
  }
  
  .carousel-item {
    height: auto;
  }
  
  .carousel-item img {
    width: 100%; 
    height: 300px;
    object-fit: contain;
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    color: white; 
    padding: 10px;
  }