<main>
    <ul class='slider' #slider>
        <li class='item'
            style="background-image: url('https://media.istockphoto.com/id/1094542326/photo/flat-tire-on-the-roadside.jpg?s=1024x1024&w=is&k=20&c=HsEwFM1xv13w-kk0l0s2MGw8DOSxNDwX0YApH8Oh5L0=')">
            <div class='content'>
                <h2 class='title'>"Tyre Puncture"</h2>
                <p class='description'> Lorem </p>
            </div>
        </li>
        <li class='item' style="background-image: url('https://media.licdn.com/dms/image/D5612AQEujChPE6-MEA/article-cover_image-shrink_423_752/0/1700188873442?e=1713398400&v=beta&t=N20j7h5cMmGNfq8p8x6lOBXR9ATvPJU_ouNXw1Dg3PI')">
            <div class='content'>
                <h2 class='title'>"Key Lock Out"</h2>
                <p class='description'> ipsam enim. </p>
            </div>
        </li>
        <li class='item' style="background-image: url('https://img.freepik.com/free-photo/car-wash-detailing-station_1303-22319.jpg?size=626&ext=jpg&ga=GA1.1.87170709.1707868800&semt=ais')">
            <div class='content'>
                <h2 class='title'>"Car Wash"</h2>
                <p class='description'> Liosam ipsam enim. </p>
            </div>
        </li>
        <li class='item'
            style="background-image: url('https://media.istockphoto.com/id/1221872690/photo/the-booster-cables-and-discharged-battery-charging-battery-car-with-electricity-trough-jumper.jpg?s=2048x2048&w=is&k=20&c=p8T5-fYZ0eSVIdQB3TeL8ltvU4EH3x1zG3rSuU3JVHE=')">
            <div class='content'>
                <h2 class='title'>"Battery Jump"</h2>
                <p class='description'>
                    Battery Jump lslslslsllsll
                </p>
            </div>
        </li>
        <li class='item' style="background-image: url('https://www.shutterstock.com/shutterstock/photos/547062700/display_1500/stock-photo-kiev-ukraine-july-ferrari-alonso-edition-f-car-on-a-tow-truck-547062700.jpg')">
            <div class='content'>
                <h2 class='title'>"Car Tow"</h2>
                <p class='description'> Car towing </p>
            </div>
        </li>
    </ul>
    <nav class='nav'>
        <button class='btn-prev' (click)="slide('prev')">
            <i class="fas fa-chevron-left"></i>
        </button>
        <button class='btn-next' (click)="slide('next')">
            <i class="fas fa-chevron-right"></i>
        </button>

    </nav>
</main>