<h1 align="center">Cart Items</h1>

<div align="center" class="container">
    <table class="table table-hover table-sm table-bordered">
        <thead>
            <tr align="center">
                <th class="bg-danger text-white">Service Id</th>
                <th class="bg-danger text-white">Service Name</th>
                <th class="bg-danger text-white">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of cartItems; let i = index" align="center">
                <td align="center">{{service.id}}</td>
                <td align="left">{{service.name}}</td>
                <td align="right">{{service.price}}.00</td>
                <td align="center">
                    <button class="btn btn-danger" (click)="removeFromCart(i)">Remove</button>
                </td>
            </tr>
            <tr align="center">
                <td colspan="2" align="Right"><b>Total: </b></td>
                <td align="Right"><b>{{total}}.00</b></td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success me-2" (click)="openModal()">
        Book
    </button>
    <div class="container">
        <!-- Modal -->
        <div class="modal" [ngClass]="{'show': isModalOpen}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Other HTML code omitted for brevity -->
                    <div class="modal-body">
                        <form #bookForm="ngForm" (ngSubmit)="bookingSubmit(bookForm)" novalidate>
                            <h2>Booking Form</h2>
                            <div class="form-group row">
                                <table class="table table-hover table-sm table-bordered">
                                    <thead>
                                        <tr align="center">
                                            <th class="bg-danger text-white">Service Name</th>
                                            <th class="bg-danger text-white">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let service of cartItems; let i = index" align="center">
                                            <td align="left">{{service.name}}</td>
                                            <td align="right">{{service.price}}.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group row">
                                <label for="emailId" class="col-sm-2 col-form-label">
                                    <span class="glyphicon glyphicon-email"></span> Email Id</label>
                                <div class="col-sm-5">
                                    <input type="text" id="emailId" name="emailId" [(ngModel)]="emailId"
                                        class="form-control" placeholder="{{loggedInUser.email}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phoneNumber" class="col-sm-2 col-form-label">
                                    <span class="glyphicon glyphicon-earphone"></span> Phone Number</label>
                                <div class="col-sm-5">
                                    <input type="text" id="phoneNumber" name="phoneNumber"
                                        [(ngModel)]="booking.phoneNumber" class="form-control"
                                        placeholder="Enter your phone number">
                                </div>
                            </div>
                            <div>
                                <input type="text" id="locationInput" placeholder="Enter your location"
                                    [(ngModel)]="location" [ngModelOptions]="{standalone: true}" />
                                <button type="button" (click)="getCurrentLocation()">Get Current Location</button>
                            </div>
                            <div class="col-sm-5">
                                <button class="btn btn-primary btn-block"><span class="glyphicon glyphicon-ok"></span>
                                    Confirm Booking</button>
                            </div>
                        </form>
                    </div>