/* Overlay */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* Modal Container */
.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Modal Dialog */
/* Modal Dialog */
.modal-dialog {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 600px; /* Adjust width as needed */
    height: 800px; /* Adjust height as needed */
    max-width: 90%; /* Maximum width as a percentage of the viewport */
    max-height: 90%; /* Maximum height as a percentage of the viewport */
}

/* Modal Header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.modal-title {
    margin: 0;
    font-size: 1.5rem;
}

.close-btn {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.5rem;
    color: #888;
}

.close-btn:hover {
    color: #555;
}

/* Form Inputs */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
}

/* Error Messages */
.error-message {
    color: #ff0000;
    font-size: 0.9rem;
    margin-top: 5px;
}

/* Submit Button */
.btn-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-submit:hover {
    background-color: #0056b3;
}
.modal-body{
height: 600px;
width: 300px;
}
