<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)" novalidate>
                <!-- firstname -->
                <div class="form-group row">
                    <label for="firstName" class="col-sm-2 col-form-label"><span
                            class="glyphicon glyphicon-user"></span> First Name</label>
                    <div class="col-sm-5">
                        <input type="text" id="firstName" name="firstName" class="form-control" ngModel required
                            placeholder="Enter your first name">
                        <div *ngIf="regForm.controls['firstName']?.errors?.['required'] && regForm.controls['firstName'].touched"
                            class="text-danger mt-2">
                            First Name is required
                        </div>
                    </div>
                </div>
                <!-- last name -->
                <div class="form-group row">
                    <label for="lastName" class="col-sm-2 col-form-label"><span class="glyphicon glyphicon-user"></span>
                        Last Name</label>
                    <div class="col-sm-5">
                        <input type="text" id="lastName" name="lastName" class="form-control" ngModel required
                            placeholder="Enter your last name">
                        <div *ngIf="regForm.controls['lastName']?.errors?.['required'] && regForm.controls['lastName'].touched"
                            class="text-danger mt-2">
                            Last Name is required
                        </div>
                    </div>
                </div>
                <!-- gender -->
                <div class="form-group row">
                    <label for="gender" class="col-sm-2 col-form-label"><span class="glyphicon glyphicon-list"></span>
                        Gender</label>
                    <div class="col-sm-5">
                        <select id="gender" name="gender" class="form-control" ngModel required>
                            <option value="" disabled>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                        <div *ngIf="regForm.controls['gender']?.errors?.['required'] && regForm.controls['gender'].touched"
                            class="text-danger mt-2">
                            Please select a gender
                        </div>
                    </div>
                </div>
                <!-- address -->
                <div class="form-group row">
                    <label for="address" class="col-sm-2 col-form-label"><span class="glyphicon glyphicon-home"></span>
                        Address</label>
                    <div class="col-sm-5">
                        <input type="text" id="address" name="address" class="form-control" ngModel minlength="11"
                            placeholder="Enter your address">
                        <div *ngIf="regForm.controls['address']?.errors?.['minlength'] && regForm.controls['address'].touched"
                            class="text-danger mt-2">
                            Address must contain more than 10 characters
                        </div>
                    </div>
                </div>
                <!-- email -->
                <div class="form-group row">
                    <label for="emailId" class="col-sm-2 col-form-label"><span
                            class="glyphicon glyphicon-envelope"></span> Email</label>
                    <div class="col-sm-5">
                        <input type="email" id="emailId" name="emailId" class="form-control"
                            placeholder="Enter your email" #emailId="ngModel" ngModel required email>
                        <div *ngIf="emailId.errors?.['required'] && emailId.touched" class="text-danger mt-2">
                            Please Enter Email-Id
                        </div>
                        <div *ngIf="emailId.errors?.['email'] && emailId.touched" class="text-danger mt-2">
                            Please Enter a Valid Email Address
                        </div>
                    </div>
                </div>
                <!-- Phonenumber -->
                <div class="form-group row">
                    <label for="phoneNumber" class="col-sm-2 col-form-label"><span
                            class="glyphicon glyphicon-earphone"></span> Phone Number</label>
                    <div class="col-sm-5">
                        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" ngModel
                            placeholder="Enter your phone number" pattern="[0-9]{10}">
                        <div *ngIf="regForm.controls['phoneNumber']?.errors?.['pattern'] && regForm.controls['phoneNumber'].touched"
                            class="text-danger mt-2">
                            Phone Number must be 10 digits
                        </div>
                    </div>
                </div>
                <!-- Password -->
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label"><span class="glyphicon glyphicon-lock"></span>
                        Password</label>
                    <div class="col-sm-5">
                        <input type="password" id="password" name="password" class="form-control" ngModel
                            placeholder="Enter your password" required minlength="8"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                        <div *ngIf="regForm.controls['password']?.errors?.['required'] && regForm.controls['password'].touched"
                            class="text-danger mt-2">
                            Password is required
                        </div>
                        <div *ngIf="regForm.controls['password']?.errors?.['minlength'] && regForm.controls['password'].touched"
                            class="text-danger mt-2">
                            Password must be at least 8 characters long
                        </div>
                        <div *ngIf="regForm.controls['password']?.errors?.['pattern'] && regForm.controls['password'].touched"
                            class="text-danger mt-2">
                            Password must contain at least one lowercase letter, one uppercase letter, one number, one
                            special character, and be at least 8 characters long
                        </div>
                    </div>
                </div>

                <!-- Confirm Password -->
                <div class="form-group row">
                    <label for="confirmPassword" class="col-sm-2 col-form-label"><span
                            class="glyphicon glyphicon-lock"></span> Confirm Password</label>
                    <div class="col-sm-5">
                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" ngModel
                            placeholder="Confirm your password" required
                            [pattern]="regForm.controls['password']?.value">
                        <div *ngIf="regForm.controls['confirmPassword']?.errors?.['required'] && regForm.controls['confirmPassword'].touched"
                            class="text-danger mt-2">
                            Confirm Password is required
                        </div>
                        <div *ngIf="regForm.controls['password']?.value && regForm.controls['confirmPassword']?.errors?.['pattern'] && regForm.controls['confirmPassword'].touched"
                            class="text-danger mt-2">
                            Passwords do not match
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                        <button class="btn btn-primary btn-block" [disabled]="regForm.invalid"><span
                                class="glyphicon glyphicon-ok"></span> Register</button>
                    </div>
                    <div class="form-group">
                        <p class="mt-3">already have an account, <a href="">Login here</a>.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>