<h1 align="center">Services</h1> <br/>

<div class="container">
    <div class="row">
        <div class="col-lg-3" *ngFor="let service of services">
            <div class="card" style="width:300px;">
                <img class="card-img-top" [src]="service.imgsrc" alt="Card image" style="width:100%; margin-top: 5px;">
                <div class="card-body">
                    <h4 class="card-title">{{service.name}}</h4>
                    <p class="card-text">{{service.description}}</p>
                    <p class="card-text"> {{service.price}}/-</p>
                    <p align="right">
                        <button  class="btn btn-primary" (click)="addToCart(service)" [disabled]="service.addedToCart">AddToCart</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

