<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" (click)="openModal()">
                Login
            </button>
            <button class="nav-item">
                <a class="nav-link active" href="register">Register</a>
            </button>
        </ul>
    </div>
</nav>

<div class="container">
    <!-- Modal -->
    <div class="modal" [ngClass]="{'show': isModalOpen}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Other HTML code omitted for brevity -->
                <div class="modal-body">
                    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
                        <div class="form-group">
                            <label for="email"><span class="glyphicon glyphicon-envelope"></span>Email</label>
                            <input type="email" class="form-control" id="email" ngModel placeholder="Enter your email"
                                name="emailId" #emailId="ngModel" ngModel required minlength="2" maxlength="30"
                                (click)="stopPropagation($event)">
                            <!-- Add the (click) event handler above to stop event propagation -->
                            <div *ngIf="emailId.errors?.['required'] && emailId.touched" class="text-danger mt-2">
                                Please Enter Email-Id
                            </div>
                            <div *ngIf="emailId.errors?.['minlength'] && emailId.touched" class="text-danger mt-2">
                                Please Enter At least 2 Characters for Email Id
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter your password"
                                name="password" #password="ngModel" ngModel required
                                (click)="stopPropagation($event)">
                            <!-- Add the (click) event handler above to stop event propagation -->
                            <div *ngIf="password.errors?.['required'] && password.touched" class="text-danger mt-2">
                                Please Enter Password
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                        </div>
                        <div class="form-group">
                            <p class="mt-3">Don't have an account, <a href="register">Register here</a>.</p>
                        </div>
                    </form>
                <!-- Other HTML code omitted for brevity -->
            </div>